{% extends "study.html" %}
{% block title %}Study Meaning{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/jquery-3.2.1.js"></script>
{% endblock %}
{% block body %}
    {% if danci %}
    <form id="mainform" method="post">
        <p>{{danci.meaning}}</p>
        <p id="word" style="display:none">{{danci.word}}</p>
        <input type="hidden" name="word" value="{{danci.word}}">
        <p><input id="answer" type="text" style="text-align:center"></p>
        <p>
            <span id="btnShowAnswer" onclick="show_answer()" >
                看答案
            </span>
            <input type='text' style='display:none'>
            <span id="pass"  style="display:none">正确</span>
            <span id="unpass" style="display:none">错误</span>
            <input id="result" type="hidden" name="result">
        </p>
    </form>
    {% else %}
    <p>没有要背的单词</p>
    {% endif%}
    <script type="text/javascript">
        document.getElementById("answer").focus();
        document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];;
            if(e&& e.keyCode==13){  //回车
                show_answer();
            }
        };
        function after_show_answer(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];;
            if(e&& e.keyCode==13){  //回车,错误
                document.getElementById("result").value='unpass';
                document.getElementById("mainform").submit();
            }else if(e&& e.keyCode==32){  //空格,正确
                document.getElementById("result").value='pass';
                document.getElementById("mainform").submit();
            }
        };
        function show_answer(){
            document.getElementById('btnShowAnswer').style.display='none';
            document.getElementById('word').style.display='';
            document.getElementById('pass').style.display='';
            document.getElementById('unpass').style.display='';
            document.onkeydown=after_show_answer;
        }
    </script>
{% endblock %}